# Data Science Lesson - Data Structures
---
**Question: How do we represent our Stick Figure Google Sheet (table) in a Python variable?**

### List of Dictionaries

Represent each person as a dictionary, and stote them all in a list. Output the list to verify.

In [12]:
stick_figures = [
    {
        "name": "dakota", 
        "gpa": 3.15,
        "sport": "basketball",
        "footware": "sneakers",
        "height": 72,
        "friends": 307
    },
    {
        "name": "charlie", 
        "gpa": 1.1,
        "sport": "baseball",
        "footware": "sandals",
        "height": 61,
        "friends": 34
    },
    {
        "name": "hayden", 
        "gpa": 3.5,
        "sport": "tennis",
        "footware": "sandals",
        "height": 68,
        "friends": 335
    },
    {
        "name": "kamryn", 
        "gpa": 2.18,
        "sport": "soccer",
        "footware": "sneakers",
        "height": 66,
        "friends": 200
    },
    {
        "name": "emerson", 
        "gpa": 3.06,
        "sport": "soccer",
        "footware": "sneakers",
        "height": 65,
        "friends": 213
    },
    {
        "name": "jessie", 
        "gpa": 2.41,
        "sport": "basketball",
        "footware": "sandals",
        "height": 61,
        "friends": 202
    },
    {
        "name": "sawyer", 
        "gpa": 2.96,
        "sport": "tennis",
        "footware": "sandals",
        "height": 67,
        "friends": 314
    },
    {
        "name": "london", 
        "gpa": 3.98,
        "sport": "soccer",
        "footware": "sneakers",
        "height": 64,
        "friends": 436
    }
]

stick_figures

[{'name': 'dakota',
  'gpa': 3.15,
  'sport': 'basketball',
  'footware': 'sneakers',
  'height': 72,
  'friends': 307},
 {'name': 'charlie',
  'gpa': 1.1,
  'sport': 'baseball',
  'footware': 'sandals',
  'height': 61,
  'friends': 34},
 {'name': 'hayden',
  'gpa': 3.5,
  'sport': 'tennis',
  'footware': 'sandals',
  'height': 68,
  'friends': 335},
 {'name': 'kamryn',
  'gpa': 2.18,
  'sport': 'soccer',
  'footware': 'sneakers',
  'height': 66,
  'friends': 200},
 {'name': 'emerson',
  'gpa': 3.06,
  'sport': 'soccer',
  'footware': 'sneakers',
  'height': 65,
  'friends': 213},
 {'name': 'jessie',
  'gpa': 2.41,
  'sport': 'basketball',
  'footware': 'sandals',
  'height': 61,
  'friends': 202},
 {'name': 'sawyer',
  'gpa': 2.96,
  'sport': 'tennis',
  'footware': 'sandals',
  'height': 67,
  'friends': 314},
 {'name': 'london',
  'gpa': 3.98,
  'sport': 'soccer',
  'footware': 'sneakers',
  'height': 64,
  'friends': 436}]

What is the mean height of people in our list? First, use pure Python functions (not the statistics module) to calculate this, and output to verify.

*Hint: You may want to put all the heights in a list and then use that for your computations.*

In [14]:
heights = [person["height"] for person in stick_figures]
mean_height = sum(heights)/len(heights)
mean_height

65.5

Now, import NumPy (as np) and use its mean function to find the mean of the heights list directly.

In [19]:
import numpy as np
np.mean(heights)

65.5

## Dictionary of Lists

Using a dictionary and key/value pairs, represent each attribute (column) of a person as a key and all the values of each attribute as a list. That is, a dictionary of lists. Output the dict to verify.

In [33]:
myDict ={
    "names": [person["name"] for person in stick_figures],
    "gpas": [person["gpa"] for person in stick_figures],
    "sports": [person["sport"] for person in stick_figures],
    "footwares": [person["footware"] for person in stick_figures],
    "heights": [person["height"] for person in stick_figures],
    "friends": [person["friends"] for person in stick_figures]
}

Now use NumPy to get the mean in one statement.

In [34]:
np.mean(myDict["heights"])

65.5

**So, which approach should we use? Or is there a better way? Hmmm...**

In [2]:
import pandas as pd

In [3]:
data_file = pd.read_csv('people.csv')
data_file

      name   gpa       sport  footware  height  friends
0   dakota  3.15  basketball  sneakers      72      307
1  charlie  1.10    baseball   sandals      61       34
2   hayden  3.50      tennis   sandals      68      335
3   kamryn  2.18      soccer  sneakers      66      200
4  emerson  3.06      soccer  sneakers      65      213
5   jessie  2.41  basketball   sandals      61      202
6   sawyer  2.96      tennis   sandals      67      314
7   london  3.98      soccer  sneakers      64      436