# Data Science Lesson - Getting Data
---
### Reading from CSV files
A comma-separated values (CSV) file is a very common, generic file format used for data storage and transfer.
There is the "vanilla" Python way to get data out of a CSV, and there is the pandas way.
See https://realpython.com/python-csv/ to determine which you prefer. :)

Open your Google Sheets file of people data from the last lesson. Use File > Download to get a CSV locally and place it in the same directory as this notebook. Rename it "people.csv".

Now, import pandas as pd and use the .read_csv function to read the contents of people.csv into a pandas dataframe. Output the dataframe to see what it looks like.

In [1]:
import pandas as pd
pd.read_csv('people.csv')

      name   gpa       sport  footware  height  friends
0   dakota  3.15  basketball  sneakers      72      307
1  charlie  1.10    baseball   sandals      61       34
2   hayden  3.50      tennis   sandals      68      335
3   kamryn  2.18      soccer  sneakers      66      200
4  emerson  3.06      soccer  sneakers      65      213
5   jessie  2.41  basketball   sandals      61      202
6   sawyer  2.96      tennis   sandals      67      314
7   london  3.98      soccer  sneakers      64      436

**Question:** What's a DataFrame?

**Answer:** It's our new best friend!

Now that you have data in a pandas dataframe, use .info() to get details about the columns.

And now use .describe() to get a lot more useful informations.

## Weather Data
From https://github.com/fivethirtyeight/data/tree/master/us-weather-history we can get weather data as CSV files from many different airports.

Download a CSV file from the above site. (Make sure to pick one that no one else chooses.) You'll need to view the "raw" page and save the file locally as a .csv (not .txt)

Then, read the file into a dataframe and output it to verify.

Get the info for the data set.

And now describe the data.

Take a look at the mean and std of the actual_mean_temp. That's the average temperature of the airport over the whole year, and the standard deviation. Compare with others to see if you can tell whose airports are more temperate and more volatile. Then look up the airport by its code and see if your observations make sense.

## Reading directly from the web
We can also get CSV directly from the web without saving the file locally. Note that this creates a dependency on the host of data. If that resource is moved (or removed) our script will stop functioning.

Try getting data on surnames from here: https://raw.githubusercontent.com/fivethirtyeight/data/master/most-common-name/surnames.csv

Then, investigate the data using pandas tools we just learned.