# Booleans

In [4]:
print(5 == 10/2)

True

# Operators

In [3]:
age = 17
age += 4
age

21

In [5]:
print(age != 12)

True

In [6]:
print(12<age and age<24)

True

# Collections

## Lists

In [7]:
courses = ["Data Science", "Latin American History", "Calculus Honors", "Honors Literature Seminar", "Anatomy and Physiology", "Physics", "Spanish V"]
courses

['Data Science',
 'Latin American History',
 'Calculus Honors',
 'Honors Literature Seminar',
 'Anatomy and Physiology',
 'Physics',
 'Spanish V']

### Accessing Items

In [8]:
courses[1]

'Latin American History'

### Changing Items

In [9]:
courses[0] = "Python"
courses

['Python',
 'Latin American History',
 'Calculus Honors',
 'Honors Literature Seminar',
 'Anatomy and Physiology',
 'Physics',
 'Spanish V']

### Accessing a Range of Items

In [10]:
courses[0:2]

['Python', 'Latin American History']

### Adding to a List

In [11]:
courses.append("Study Hall")
courses

['Python',
 'Latin American History',
 'Calculus Honors',
 'Honors Literature Seminar',
 'Anatomy and Physiology',
 'Physics',
 'Spanish V',
 'Study Hall']

### Inseting into a List

In [12]:
courses.insert(2, "Inserted")
courses

['Python',
 'Latin American History',
 'Inserted',
 'Calculus Honors',
 'Honors Literature Seminar',
 'Anatomy and Physiology',
 'Physics',
 'Spanish V',
 'Study Hall']

### List Looping

In [16]:
for x in courses:
    print(x)

Python
Latin American History
Inserted
Calculus Honors
Honors Literature Seminar
Anatomy and Physiology
Physics
Spanish V
Study Hall

### Sorting a List

In [18]:
courses.sort()
courses

['Anatomy and Physiology',
 'Calculus Honors',
 'Honors Literature Seminar',
 'Inserted',
 'Latin American History',
 'Physics',
 'Python',
 'Spanish V',
 'Study Hall']

### Copying a List

In [21]:
newCourses = courses.copy()
newCourses.append("collegeCourses")
print(courses)
print(newCourses)

['Anatomy and Physiology', 'Calculus Honors', 'Honors Literature Seminar', 'Inserted', 'Latin American History', 'Physics', 'Python', 'Spanish V', 'Study Hall']
['Anatomy and Physiology', 'Calculus Honors', 'Honors Literature Seminar', 'Inserted', 'Latin American History', 'Physics', 'Python', 'Spanish V', 'Study Hall', 'collegeCourses']

### Other List Methods

In [24]:
newCourses.clear()
genCourses = ["Math", "Science", "History", "Language", "Literature"]
newCourses.extend(genCourses)
newCourses

['Math', 'Science', 'History', 'Language', 'Literature']

# Tuples

In [26]:
days_of_week = ("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")

In [28]:
for d in days_of_week:
    print(d)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

# Sets

In [29]:
types_of_fruit = {"apple", "banana", "cherry"}

In [37]:
types_of_fruit.add("peach")
for t in types_of_fruit:
    print(t)
    
if "banana" in types_of_fruit:
    print(True)

cherry
banana
apple
peach
True

# Dictionaries

In [1]:
car1 = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

In [9]:
print (car1["model"])

Mustang

In [10]:
car1["color"] = "blue"
print(car1["color"])

blue

## Looping thru Dictionaries

In [15]:
for key in car1:
    print(key)
    
print()

for key in car1:
    print(car1[key])

brand
model
year
color

Ford
Mustang
1964
blue

In [19]:
for key, value in car1.items():
    print(key + ":", value)

brand: Ford
model: Mustang
year: 1964
color: blue

# Loops

In [21]:
for x in range(13,20):
    print(x)

13
14
15
16
17
18
19

# Conditionals

In [29]:
grade = 82

In [43]:
print("A") if grade >= 90 else print("B") if 80 < grade < 90 else print("Niether")

B

# Functions

In [47]:
def changer(int):
    my_int = int//2 + 7
    print(my_int)

changer(23)

18